
      <div class="d-flex flex-row justify-content-around">

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Choose a date" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 [startAt]="endDate"></mat-datepicker>
        </mat-form-field>
        <button class="btn btn-primary btn-sm" (click)="refreshChart()">Primary</button>

      </div>
      <div class="d-flex flex-row">
        <div #myDOMElement class="col-6" style="min-height: 500px"></div>
   
        <div #myDOMElement2 class="col-6"  style="min-height: 500px"></div>
      </div>
